<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="PipeMainEndPoint"
                address="net.pipe://localhost/251A6BF2-370B-4CD4-B13C-4E61C19A04E2"
                binding="netNamedPipeBinding"
                bindingConfiguration="PipeBinding"
                contract="Deg.Dashboards.Common.IFrontEndManagerAdminSide"
                />
      <endpoint name="TcpMainEndPoint"
                address="net.tcp://localhost:8080/251A6BF2-370B-4CD4-B13C-4E61C19A04E2"
                binding="netTcpBinding"
                bindingConfiguration="TcpBinding"
                contract="Deg.Dashboards.Common.IFrontEndManagerAdminSide"
                />

    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="PipeBinding"
                 maxReceivedMessageSize="1048576"
                 maxBufferPoolSize="1048576"
                 maxBufferSize="1048576"
                 receiveTimeout="infinite"
                 sendTimeout="infinite"
                 />
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="TcpBinding"
                 maxReceivedMessageSize="1048576"
                 maxBufferPoolSize="1048576"
                 maxBufferSize="1048576"
                 receiveTimeout="infinite"
                 sendTimeout="infinite"
                 />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <appSettings>
    <add key="MainEndPointName" value="PipeMainEndPoint" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>