<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="UserDatabase" connectionString="Server=DEGSRV4;Database=UserAccess;Persist Security Info=True;Integrated Security=False;User ID=Dashboard_DBManager;Password=dashdbm;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="FrontEndManager.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <file value="FrontEndManager.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>    
    <root>
      <level value="All" />
      <appender-ref ref="EventLogAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <system.serviceModel>
    <services>
      <service name="Deg.FrontEndManager.FrontEndManagerService"
               behaviorConfiguration="ServiceBehavior"
               >
        <endpoint address="net.tcp://localhost:8081/D4155139-59B2-4328-9586-2E3E58F26AD6"
                  binding="netTcpBinding"
                  bindingConfiguration="TcpBinding"
                  contract="Deg.Dashboards.Common.IFrontEndManagerDatabaseSide"
                  />
        <endpoint address="net.tcp://localhost:8082/251A6BF2-370B-4CD4-B13C-4E61C19A04E2"
                  binding="netTcpBinding"
                  bindingConfiguration="TcpBinding"
                  contract="Deg.Dashboards.Common.IFrontEndManagerAdminSide"
                  />
        <endpoint address="net.tcp://localhost:8080/020D9356-2226-4039-A09F-916CEE681BFD"
                  binding="netTcpBinding"
                  bindingConfiguration="TcpBinding"
                  contract="Deg.Dashboards.Common.IFrontEndManagerClientSide"
                  />
      </service>
      <service name="Deg.FrontEndManager.DataPushManager"
               behaviorConfiguration="ServiceBehavior"
               >
        <endpoint address="net.tcp://localhost:8083/C2F1ECE4-954C-444C-8154-A7353C8A3229"
                  binding="netTcpBinding"
                  bindingConfiguration="TcpBinding"
                  contract="Deg.Dashboards.Common.IDataPushServer"
                  />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="TcpBinding"
                 closeTimeout="00:00:05"
                 openTimeout="00:00:05"
                 receiveTimeout="infinite"
                 sendTimeout="infinite"
                 maxBufferSize="5242880"
                 maxReceivedMessageSize="5242880"
                 portSharingEnabled="false"
                 >
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehavior">
          <callbackDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>