<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="DatabaseManager.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <file value="DatabaseManager.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="EventLogAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="Deg.DatabaseManager.Properties.Settings.ISOStatsConnectionString"
      connectionString="Data Source=DEGSRV4;Initial Catalog=ISOStats;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Deg.DatabaseManager.Properties.Settings.PJMInstantaneousDispatchRatesConnectionString"
      connectionString="Data Source=degsrv4;Initial Catalog=PJMInstantaneousDispatchRates;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Deg.DatabaseManager.Properties.Settings.PJMAggregateLMPs2ConnectionString"
      connectionString="Data Source=DEGSRV4;Initial Catalog=PJMAggregateLMPs2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Deg.DatabaseManager.Properties.Settings.MISOExAnteLMPsConnectionString"
      connectionString="Data Source=DEGSRV4;Initial Catalog=MISOExAnteLMPs;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Deg.DatabaseManager.Properties.Settings.ERCOTConnectionString"
      connectionString="Data Source=DEGSRV4;Initial Catalog=ERCOT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Deg.DatabaseManager.DatabaseManagerService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="net.tcp://localhost:8084/10D9D687-6570-4D42-8F3A-0306600FEC57" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Deg.Dashboards.Common.IDatabaseManagerClientSide" />
      </service>
    </services>
    <client>
      <endpoint name="TcpMainEndPoint" address="net.tcp://localhost:8081/D4155139-59B2-4328-9586-2E3E58F26AD6" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="Deg.Dashboards.Common.IFrontEndManagerDatabaseSide" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="TcpBinding" maxReceivedMessageSize="1048576" maxBufferPoolSize="1048576" maxBufferSize="1048576" receiveTimeout="infinite" sendTimeout="infinite"
                 >
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehavior">
          <callbackDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <add key="MainEndPointName" value="TcpMainEndPoint" />
    <add key="DataConnection" value="server={0};User ID = {1}; Password = {2};MultipleActiveResultSets=True" />
    <add key="DataUser" value="Dashboard_DBManager" />
    <add key="DataPass" value="dashdbm" />
    <add key="DataServer" value="DEGSRV4" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>